.task_block{
    position: relative;
    border: black solid 5px;
    border-radius: 10px;
    width: auto;
    margin-top: 10px;
}

.button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.finish {
  background-color: green;
}

.remove {
  background-color: red;
}

.details {
  background-color: #007bff;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.section-title {
  font-size: 24px;
  margin: 20px 0;
}

.tasks-container {
  margin-bottom: 20px;
}

.tasks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.task-block {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.task-actions {
  margin-top: 10px;
}

.add-task-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.add-task-button:hover {
  background-color: #0056b3;
}

.completed-tasks-container {
  margin-top: 20px;
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.completed-tasks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.completed-task-block {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
}




